@media (max-width: 1150px) {
	.list {
		flex-wrap: wrap;
	}

	.latest__item,
	.genre__item  {
		min-width: 48%;
	}

	.header__title {
		font-size: 22px;
	}

}

@media (max-width: 750px) {
	.header__search {
		top: 73%;
		left: 3%;
		order: 1;
		min-width: 100%;
		margin-top: 15px;
	}

	.header__searchbar_btn {
		left: 80%;
	}
}

@media (max-width: 670px) {
	.list {
		flex-direction: column;
	}

	.latest__item,
	.genre__item  {
		min-width: 100%;
	}

	.header__flex {
		flex-wrap: wrap;
	}

	.channel__item {
		padding-left: 27%;
		background-position: 10% center;
	}

	.channel__item_bg2 {
		background-position: 5% center;
	}
}

@media (max-width: 540px) {
	.channel__item {
		padding-left: 2%;
		padding-bottom: 2.5%;
		background-image: none;
	}

	.header__title {
		font-size: 20px;
	}

	.header__search {
		left: 1%;
	}

	.header__searchbar {
		min-width: 77%;
		background-color: transparent;
	}

	.header__searchbar_btn {
		left: 75%;
	}
}

@media (max-width: 329px) {
	.header__item {
		/* margin-bottom: 15px; */
		font-size: 24px;
	}

	.video-service {
		display: none;
	}
}
